configuration{
    modi: "drun";
    width: 40;
    columns: 1;
    lines: 5;
 	font: "Iosevka 12";
    show-icons: true;
	icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    display-drun: "Run";
    location: 0;
    separator-style: "solid";
    disable-history: true;
    hide-scrollbar: false;
	theme: "~/.config/rofi/simple.rasi";
}
